@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:wght@300;400;500;700;900&display=swap');

/* Global settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/* Global variables to simplify code & changes to them */

:root {
    --gradient-lr: linear-gradient(325deg, #6f00fc 0%,#fc7900 50%,#fcc700 100%);
    /* --gradient-lr: linear-gradient(325deg, #d03ff8 0%,#f78a25 50%,#fcc700 100%); */
    /* --gradient-rl: linear-gradient(135deg, #6f00fc 0%,#fc7900 50%,#fcc700 100%); */
    --gradient-rl: linear-gradient(135deg, #d03ff8 0%,#f78a25 50%,#fcc700 100%);
    /* --gradient-rl: linear-gradient(50deg, #fc7900 60%,#fcc700 100%); */
    /* --gradient-lr-btm-left: linear-gradient(198deg, #6f00fc 0%,#fc7900 50%,#fcc700 100%); */
    --font-marker: 'Permanent Marker', cursive;
    --shadow: 6px 4px 8px 0 rgba(0, 0, 0, 0.2);
    --btn-backgrnd: rgba(34, 39, 37, 0.6);
    --white: #f7f7f2;
    --smk-black: #222725;
    --transform-std: scale(0.97);
    --wrong-answer: rgba(239, 35, 60, 0.5);
    --correct-answer: rgba(56, 176, 0, 0.7);

}

/* Begin index.html main section w. flexbox to allign all content centered and apply overall margin */
/* Add background gradient effect to main section*/
.body-class {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto; */
    background: var(--gradient-lr);
    /* remove setting below and work with a hide class */
    height: 100vh;
    display: flex;
    justify-content: center;
}

/* Overall wrapper valid for all containers - shared */
.overall-wrapper {
    display: flex;
    justify-content: center;
    width: 80%;
}

/* Game container - valid for whole game content - shared */
.game-container {
    /* max-width: 80%; */
    padding: 2rem;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
}

.game-card {
    background: var(--gradient-rl);
    box-shadow: var(--shadow);
    border-radius: 10px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3px;
    justify-content: center;
    /* width: 80%;
    max-width: 100%; */
}

.game-title {
    font-family: var(--font-marker);
    font-size: 2.5rem;
    letter-spacing: 2px;
    text-align: center;
}

.game-text {
    text-align: justify;
    padding: 1.5rem;
    font-size: 1.1rem;
}


/* Game control button section */
.control-menu {
    margin: 0px 15px 15px 15px;
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    /* flex: 1 1 45ch; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

/* Control buttons */
.btn-ctrl {
    padding: .4rem .8rem;
    background-color: var(--btn-backgrnd);
    box-shadow: var(--shadow);
    color: var(--white);
    border-radius: .5rem;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    flex: 0 1 15ch;
}

.control-menu .btn-ctrl:hover {
    transform: var(--transform-std);
}

/* HowTo Modal section */
.modal-container {
    display: none;
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: rgba(34, 39, 37, 0.6);
}

.modal-content {
    text-align: center;
    margin: 15% auto;
    padding: 1.5rem;
    border-radius: 10px;
    width: 80%;
    max-width: 750px;
    background: var(--gradient-rl);
}

.modal-title {
    font-family: var(--font-marker);
    font-size: 2.5rem;
    letter-spacing: 2px;
    margin-bottom: 1.2rem;
}

.modal-list {
    list-style: none;
    text-align: center;
    margin-bottom: .5rem;
}

.modal-list li {
    padding: .3rem 0;
    font-size: 1.2rem;
    font-weight: 600;
}

.modal-close-btn {
    font-size: 170%;
    color: var(--smk-black);
}

/* Hover effect to modal close icon */
.modal-close-btn i:hover {
    transform: scale(1.2);
    cursor: pointer;
}

/* Begin Feedback Section w. Feedback Card and Form*/

.feedback-card {
    margin: 50px 15px 25px 15px;
    background: var(--gradient-rl);
    box-shadow: var(--shadow);
    border-radius: 10px;
    padding: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    justify-content: center;
}

.feedback-title {
    font-family: var(--font-marker);
    font-size: 2.5rem;
    letter-spacing: 2px;
    text-align: center;
}

.feedback-text {
    text-align: justify;
    padding: 1.5rem;
    font-size: 1.1rem;
}

/* Feedback form w. contact details & free text field */
.feedback-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem auto;
    font-weight: 600;
}

.text-input {
    margin: .5rem 0 .5rem 0;
    line-height: 1.5rem;
    padding: .2rem .4rem;
    border-radius: .2rem;
    box-shadow: var(--shadow);
}

.feedback-input {
    margin: .5rem 0 .5rem 0;
    line-height: 1.5rem;
    padding: .2rem .4rem;
    border-radius: .2rem;
    box-shadow: var(--shadow);
    resize: none;
}

/* Feedback form submit button to confirmation page */
.btn-form {
    padding: .4rem .8rem;
    background-color: var(--btn-backgrnd);
    box-shadow: var(--shadow);
    color: var(--white);
    border-radius: .5rem;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
}

.feedback-form button:hover {
    transform: var(--transform-std);
}

/* Begin Confirmation Section  */

/* Top body class to define background and parent flex */
.body-conf-class {
    background: var(--gradient-lr);
    height: 100vh;
    display: flex;
    justify-content: center;
}

/* Overall wrapper to add flexbox for centering */
.conf-wrapper {
    display: flex;
    justify-content: center;
}

/* Actual  */
.conf-container {
    display: flex;
    max-width: 80%;
    padding: 2rem;
    flex-direction: column; 
    justify-content: center;
}

/* Confirmation card */
.conf-card {
    border: solid var(--smk-black);
    box-shadow: var(--shadow);
    border-radius: 10px;
    padding: 1.5rem;
    flex-wrap: wrap;
    gap: 3px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    justify-content: center;
}

.conf-title {
    font-family: var(--font-marker);
    font-size: 3rem;
    letter-spacing: 2px;
    text-align: center;
}

.conf-text {
    text-align: center;
    padding: 1.5rem;
    font-size: 1.3rem;
}

#conf-text-bye {
    padding: 1.5rem;
    font-size: 1.5rem;
    text-align: center;
}

/* Begin Quiz Game Section */

.quiz-container {
    display: flex;
    justify-content: center;
}

/* Quiz main card */
.quiz-card {
    background: var(--gradient-rl);
    box-shadow: var(--shadow);
    border-radius: 10px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3px;
    justify-content: center;

    /* position: absolute;
    transform: translate(-50%, -50%);
    top: 38%;
    left: 50%;
    width: 80%;
    max-width: 900px; */
}

.quiz-heading h1  {
    text-align: center;
    padding: 1rem 0;
    font-family: var(--font-marker);
    text-transform: uppercase;
    font-size: 2.2rem;
    letter-spacing: 2px;
}

.cancel-game {
    /* text-align: right; */
    display: flex;
    justify-content: space-between;
}

.cancel-game i {
    font-size: 120%;
    color: var(--smk-black);
}

/* Hover effect to cancel quiz icons */
.cancel-game i:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.cancel-game a {
    color: var(--smk-black);
    text-decoration: none;
}

/* Score section inside quiz card w. flexbox to align content */
.score-area {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 0 1rem 0;
}

/* Question and answer section inside quiz card */
.quiz-question {
    text-align: center;
    font-size: 1.5rem;
}

.quiz-answers {
    padding: 1rem 0 1rem 0;
    display: grid;
    gap: 5px;
}

.quiz-control {
    /* text-align: center; */
    padding: 1.5rem 0 1rem 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

.btn-quiz {
    padding: .4rem .8rem;
    background-color: var(--btn-backgrnd);
    box-shadow: var(--shadow);
    color: var(--white);
    border-radius: .5rem;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;

    flex: 0 1 15ch;
}

.btn-quiz.correct {
    background-color: var(--correct-answer);
    color: var(--smk-black);
}

.btn-quiz.wrong {
    background-color: var(--wrong-answer);
}

.quiz-answers button:hover {
    transform: var(--transform-std);
}

.quiz-control button:hover {
    transform: var(--transform-std);
}

/* Generic hide class to hide certain elements */
.hide {
    display: none;
  }

/* Inactivae button click events */
.disable-buttons {
    pointer-events: none;
}

/* Github top right corner link Credits to sweetalert2.github.io - slightly modified */
.github-corner {
    position: fixed;
    top: 0;
    right: 0;
}



/* DELETE FOOTER IF NOT NEEDED */


/* Begin Footer section*/
footer p {
    text-align: center;
    padding: 10px 0 10px 0;
    font-size: .9rem;
}

.social-networks {
    text-align: center;
    background-color: var(--smk-black);
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 150%;
    margin: 1rem;
    padding: 1rem;
    color: var(--white);
}

/* Hover effect to social media icons */
.social-networks i:hover {
    transform: scale(1.2);
    cursor: pointer;
}