@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:wght@300;400;500;700;900&display=swap');

/* Global settings to remove unwanted settings and set generic font */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/* Global variables to simplify code and future changes to these values */
:root {
    --gradient-lr: linear-gradient(325deg, #6f00fc 0%,#fc7900 50%,#fcc700 100%);
    --gradient-rl: linear-gradient(135deg, #d03ff8 0%,#f78a25 50%,#fcc700 100%);
    --font-marker: 'Permanent Marker', cursive;
    --shadow: 6px 4px 8px 0 rgba(0, 0, 0, 0.2);
    --btn-backgrnd: rgba(34, 39, 37, 0.6);
    --white: #f7f7f2;
    --smk-black: #222725;
    --transform-std: scale(0.97);
    --wrong-answer: rgba(239, 35, 60, 0.5);
    --correct-answer: rgba(56, 176, 0, 0.7);
}

/* Begin index.html main section w. flexbox to allign all content centered and apply overall margin */
/* Add background gradient effect to main section*/
.body-class {
    background: var(--gradient-lr);
    height: 100vh;
    display: flex;
    justify-content: center;
}

/* Overall wrapper valid for all containers and cards */
.overall-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* Overall generic container - valid for all cards */
.overall-container {
    padding: 1rem;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
}

/* Begin Game Card Section */
.game-card {
    background: var(--gradient-rl);
    box-shadow: var(--shadow);
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 3px;
    justify-content: center;
}

.game-title {
    font-family: var(--font-marker);
    font-size: 1.5rem;
    letter-spacing: 2px;
    text-align: center;
}

.game-text {
    text-align: justify;
    padding: 1rem;
}

/* Game card control button section */
.control-menu {
    margin: 0px 15px 15px 15px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

/* Actual control buttons */
.btn-ctrl {
    padding: .4rem .8rem;
    background-color: var(--btn-backgrnd);
    box-shadow: var(--shadow);
    color: var(--white);
    border-radius: .5rem;
    font-weight: 600;
    cursor: pointer;
    flex: 0 1 15ch;
}

.control-menu .btn-ctrl:hover {
    transform: var(--transform-std);
}

/* Begin Quiz card section */
.quiz-card {
    background: var(--gradient-rl);
    box-shadow: var(--shadow);
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 3px;
    justify-content: center;
}

.quiz-heading h1  {
    text-align: center;
    padding: 1rem 0;
    font-family: var(--font-marker);
    text-transform: uppercase;
    font-size: 1.5rem;
}

/* Quiz cancel section with countdown timer and cancel button */
.cancel-game {
    display: flex;
    justify-content: space-between;
}

.cancel-game i {
    color: var(--smk-black);
}

.cancel-game a {
    color: var(--smk-black);
    text-decoration: none;
}

/* Hover effect only to cancel quiz icon */
.cancel-game a i:hover {
    transform: scale(1.2);
    cursor: pointer;
}

/* Score section inside quiz card w. flexbox to align content */
.score-area {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 0 1rem 0;
}

.score-area p {
    font-size: 0.9rem;
}

.scores {
    font-weight: 600;
}

/* Question and answers section inside quiz card */
.quiz-question {
    text-align: center;
    font-size: 1.2rem;
}

.quiz-answers {
    padding: 1rem 0 1rem 0;
    display: grid;
    gap: 5px;
}

/* Quiz control button section */
.quiz-control {
    padding: 1rem 0 1rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

.btn-quiz {
    padding: .4rem .8rem;
    background-color: var(--btn-backgrnd);
    box-shadow: var(--shadow);
    color: var(--white);
    border-radius: .5rem;
    font-weight: 600;
    cursor: pointer;
    flex: 0 1 15ch;
}

/* Class to color answer button if correct answer - applied via JS */
.btn-quiz.correct {
    background-color: var(--correct-answer);
    color: var(--smk-black);
}

/* Class to color answer button if incorrect answer - applied via JS */
.btn-quiz.wrong {
    background-color: var(--wrong-answer);
}

.quiz-answers button:hover {
    transform: var(--transform-std);
}

.quiz-control button:hover {
    transform: var(--transform-std);
}

/* Begin HowTo Modal section - z-index set in order to keep it on foreground */
/* Container itself, which gives the nice partially transparent black effect over the site */
.modal-container {
    display: none;
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: rgba(34, 39, 37, 0.6);
}

/* Actual modal card with content */
.modal-content {
    text-align: center;
    margin: 15vh auto;
    padding: 1rem;
    border-radius: 10px;
    width: 90%;
    max-width: 750px;
    background: var(--gradient-rl);
}

.modal-title {
    font-family: var(--font-marker);
    font-size: 2rem;
    letter-spacing: 2px;
    margin-bottom: 1.2rem;
}

.modal-list {
    list-style: none;
    text-align: center;
    margin-bottom: .5rem;
}

.modal-list li {
    padding: .3rem 0;
    font-size: 1rem;
}

.modal-close-btn {
    font-size: 170%;
    color: var(--smk-black);
}

/* Hover effect to modal close icon */
.modal-close-btn i:hover {
    transform: scale(1.2);
    cursor: pointer;
}

/* Begin Feedback card section, which contains the feedback form */
.feedback-card {
    background: var(--gradient-rl);
    box-shadow: var(--shadow);
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    justify-content: center;
}

/* Feedback Cancel button, which sends player back home */
.feedback-cancel {
    text-decoration: none;
    color: var(--smk-black);
    text-align: left;
    width: 100%;
    font-size: 0.9rem;
}

.feedback-cancel i {
    color: var(--smk-black);
}

/* Hover effect for cancel feedback icon */
.feedback-cancel i:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.feedback-title {
    font-family: var(--font-marker);
    font-size: 1.5rem;
    text-align: center;
}

.feedback-text {
    text-align: justify;
}

/* Feedback form w. contact details & free text field */
.feedback-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem auto;
    font-weight: 600;
}

.text-input {
    margin: .5rem 0 .5rem 0;
    padding: .2rem .4rem;
    border-radius: .2rem;
    box-shadow: var(--shadow);
}

.feedback-input {
    margin: .5rem 0 .5rem 0;
    padding: .2rem .4rem;
    border-radius: .2rem;
    box-shadow: var(--shadow);
    resize: none;
}

/* Feedback form submit button - sends user to confirmation page */
.btn-form {
    padding: .4rem .8rem;
    background-color: var(--btn-backgrnd);
    box-shadow: var(--shadow);
    color: var(--white);
    border-radius: .5rem;
    font-weight: 600;
    cursor: pointer;
}

.feedback-form button:hover {
    transform: var(--transform-std);
}

/* Begin dedicated confirmation site section  */
/* Top body class to define background and parent flex */
.body-conf-class {
    background: var(--gradient-lr);
    height: 100vh;
    display: flex;
    justify-content: center;
}

/* Overall wrapper to add flexbox for centering */
.conf-wrapper {
    display: flex;
    justify-content: center;
}

/* Overall container, which contains the card itself */
.conf-container {
    display: flex;
    max-width: 90%;
    padding: 1rem;
    flex-direction: column; 
    justify-content: center;
}

/* Confirmation site card */
.conf-card {
    border: solid var(--smk-black);
    background: var(--gradient-rl);
    box-shadow: var(--shadow);
    border-radius: 10px;
    padding: 1rem;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    gap: 3px;
    justify-content: center;
}

.conf-title {
    font-family: var(--font-marker);
    font-size: 1.5rem;
    letter-spacing: 2px;
    text-align: center;
}

.conf-text {
    text-align: center;
    padding: 0.8rem;
}

#conf-text-bye {
    padding: 1rem;
    font-size: 1.2rem;
    text-align: center;
}

/* Generic hide class to hide certain elements - mainly used via JS */
.hide {
    display: none;
  }

/* Inactivate button click events */
.disable-buttons {
    pointer-events: none;
}

/* Github top right corner link Credits to sweetalert2.github.io - slightly modified */
.github-corner {
    position: fixed;
    top: 0;
    right: 0;
}

/* Begin media query section */
/* Media Query for screen sizes of 800px or larger */
@media screen and (min-width: 800px) {
    .overall-wrapper {
        width: 80%;
    }
}

/* Media Query for screen sizes of 600px or larger */
/* Basically setting the whole App to "normal size" */

@media screen and (min-width: 600px) {
    /* Overall generic container */
    .overall-container {
        padding: 2rem;
    }

    /* Game card section */
    .game-card {
        padding: 2rem;
    }

    .game-title {
        font-size: 2.5rem;
    }

    .game-text {
        padding: 1.5rem;
        font-size: 1.1rem;
    }

    .control-menu {
        padding: 1rem;
    }

    .btn-ctrl {
        font-size: 1.2rem;
    }

    /* Quiz card section */
    .quiz-card {
        padding: 2rem;
    }

    .quiz-heading h1 {
        font-size: 2rem;
        letter-spacing: 2px;
    }

    .cancel-game i {
        font-size: 1.5rem;
    }

    .score-area p {
        font-size: 1rem;
    }

    .quiz-question {
        font-size: 1.5rem;
    }

    .btn-quiz {
        font-size: 1.2rem;
    }

    .quiz-control {
        padding: 1.5rem 0 1rem 0;
    }

    /* Begin modal section */
    .modal-content {
        width: 80%;
        padding: 1.5rem;
    }

    .modal-title {
        font-size: 2.5rem;
        letter-spacing: 2px;
    }

    .modal-list li {
        font-size: 1.2rem;
    }

    /* Begin feedback section */
    .feedback-card {
        padding: 1.5rem;
    }

    .feedback-cancel {
        text-align: right;
    }

    .feedback-cancel i {
        font-size: 1.5rem;
    }

    .feedback-title {
        font-size: 2.5rem;
    }

    .feedback-text {
        font-size: 1.1rem;
    }

    .text-input {
        line-height: 1.5rem;
    }

    .feedback-input {
        line-height: 1.5rem;
    }

    .btn-form {
        font-size: 1.2rem;
    }

    /* Begin confirmation site section */
    .conf-container {
        max-width: 80%;
        padding: 2rem;
    }

    .conf-card {
        padding: 1.5rem;
    }

    .conf-title {
        font-size: 2.5rem;
    }

    .conf-text {
        padding: 1.5rem;
        font-size: 1.3rem;
    }

    #conf-text-bye {
        padding: 1.5rem;
        font-size: 1.5rem;
    }
}