@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/* Global settings */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/* Main Section */

html {
    width: 100%;
    height: 100%;
    background: linear-gradient(325deg,  #6f00fc 0%,#fc7900 50%,#fcc700 100%);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 2rem auto 13rem auto;
}

.game-section {
    max-width: 800px;
    /* text-align: center; */
    /* padding: 1rem 0; */
}

.game-section h1 {
    text-align: center;
    padding: 1rem 0;

}

.game-section p {
    text-align: justify;
    padding: 1.5rem;
}

.game-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.topic-select {
    margin: 15px 15px 25px 15px;
    /* text-align: justify; */
    /* line-height: 1.5rem; */
    /* background-color: #e4e6c3; */
    background: linear-gradient(135deg, #6f00fc 0%,#fc7900 50%,#fcc700 100%);
    box-shadow: 6px 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 1.5rem;
    flex: 1 1 45ch;
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
}

.question-select {
    margin: 15px 15px 25px 15px;
    text-align: justify;
    line-height: 1.5rem;
    background: linear-gradient(135deg, #6f00fc 0%,#fc7900 50%,#fcc700 100%);
    box-shadow: 6px 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 1.5rem;
    flex: 1 1 45ch;
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
}

.level-select {
    margin: 15px 15px 25px 15px;
    text-align: justify;
    line-height: 1.5rem;
    background: linear-gradient(135deg, #6f00fc 0%,#fc7900 50%,#fcc700 100%);
    box-shadow: 6px 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 1.5rem;
    flex: 1 1 45ch;
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
}

.btn-select {
    padding: .4rem .8rem;
    background-color: rgba(34, 39, 37, 0.6);
    box-shadow: 6px 4px 8px 0 rgba(0, 0, 0, 0.2);
    color: #f7f7f2;
    border-radius: .5rem;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    flex: 1 1 20ch;
}


/* .board {
    display: grid;
    grid-template-columns: repeat(3, auto);
    padding: 20px;
    grid-gap: 20px;
    background: linear-gradient(135deg, #6f00fc 0%,#fc7900 50%,#fcc700 100%);

} */

/* .card {
    position: relative;
    width: 100px;
    height: 100px;
    cursor: pointer;
    text-align: center;
  } */

  /* .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #353535;
    font-size: 2rem;
    color: #fff;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    width: 180px;
    height: 180px;
    border-radius: 4px;
    transition: all 500ms;
    overflow: hidden;
    flex: 1 1 45ch;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 } */





/* Footer */
footer p {
    text-align: center;
    padding: 10px 0 10px 0;
    font-size: .9rem;
}

.social-networks {
    text-align: center;
    background-color: #222725;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 150%;
    margin: 1rem;
    padding: 1rem;
    color: #F7F7F2;
}